version: '3.9'
services:
  game_server:
    image: lugobots/server:${SERVER_VERSION:-latest}
    command: play --dev-mode --listening-duration=${LISTENING_DURATION:-50ms} --timer-mode=${TIMER_MODE:-wait}
    ports:
      - "5000:5000"
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "grpc-health-probe", "-addr=game_server:5000" ]
      interval: 2s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      - HOME_TEAM_NAME=${HOME_TEAM_NAME:-HOME}
      - AWAY_TEAM_NAME=${AWAY_TEAM_NAME:-AWAY}
  watcher:
    image: node:18
    working_dir: /app
    command:
      - /bin/sh
      - -c
      - npm install && umask 000 && node_modules/.bin/tsc-watch --project .lugo/tsconfig.json --onCompilationStarted "rm -f .lugo/.done" --onSuccess "touch .lugo/.done"
    volumes:
      - ${PROJECT_PATH}:/app
    healthcheck:
      test: bash -c "[ -f /app/.lugo/.done ]"
      interval: 2s
      timeout: 30s
      retries: 3
      start_period: 30s
  player_01:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=1
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_02:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=2
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_03:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=3
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_04:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=4
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_05:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=5
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_06:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=6
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_07:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=7
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_08:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=8
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_09:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=9
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_10:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=10
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_11:
    image: node:18
    working_dir: /app
    command: npm run dev
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
    volumes:
      - ${PROJECT_PATH}:/app
    network_mode: "host"
    environment:
      - BOT_NUMBER=11
      - BOT_TEAM=${PLAYER_SIDE:-home}
  player_away_01:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=1
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_02:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=2
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_03:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=3
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_04:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=4
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_05:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=5
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_06:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=6
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_07:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=7
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_08:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=8
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_09:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=9
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_10:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=10
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    restart: unless-stopped
    depends_on:
      game_server:
        condition: service_healthy
  player_away_11:
    image: ${AWAY_BOT:-lugobots/level-1:latest}
    network_mode: "host"
    environment:
      - BOT_NUMBER=11
      - BOT_TEAM=${OPPONENT_SIDE:-away}
      - MODE=${MODE:-default} # default zombies statues kids defenses
    depends_on:
      game_server:
        condition: service_healthy
      watcher:
        condition: service_healthy
